APP_NAME=Lexican
APP_ENV=pre
APP_KEY=base64:e5S//d0cm7W+EYa/rJ6KKHLAyXNrEqYwO4hzplBNMSE=
APP_DEBUG=true
APP_URL=https://www3-pre.gobiernodecanarias.org/medusa/apps/lexican/


LOG_CHANNEL=stack
LOG_LEVEL=error

DB_CONNECTION=mysql
DB_HOST=127.0.0.1
DB_PORT=3306
DB_DATABASE=diccionario
DB_USERNAME=[USERNAME]
DB_PASSWORD=[PASSWORD]

BROADCAST_DRIVER=log
CACHE_DRIVER=file
QUEUE_CONNECTION=sync

# Datos de SESSION 
SESSION_DRIVER=file
# Duracion de la session y del token csrf 120minutos Esta es la variable que causaba el error 419 por que la session expiraba en poco tiempo
SESSION_LIFETIME=120

REDIS_HOST=127.0.0.1
REDIS_PASSWORD=null
REDIS_PORT=6379

## Mail settings for Diccionario Canarismos

MAIL_DRIVER=smtp
#MAIL_DRIVER=mail
MAIL_HOST="correo.gobiernodecanarias.org"
MAIL_PORT=25
MAIL_USERNAME="correo@example.com"
MAIL_PASSWORD="pass"
MAIL_ENCRYPTION=""
MAIL_FROM_ADDRESS="no-reply@gobiernodecanarias.org"


AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_DEFAULT_REGION=us-east-1
AWS_BUCKET=

PUSHER_APP_ID=
PUSHER_APP_KEY=
PUSHER_APP_SECRET=
PUSHER_APP_CLUSTER=mt1


MIX_PUSHER_APP_KEY="${PUSHER_APP_KEY}"
MIX_PUSHER_APP_CLUSTER="${PUSHER_APP_CLUSTER}"

CAS_HOSTNAME=www3-pre.gobiernodecanarias.org/educacion/cau_ce
CAS_VALIDATION=https://www3-pre.gobiernodecanarias.org/educacion/cau_ce/cas/p3/serviceValidate
CAS_VERSION=3.0
CAS_LOGOUT_URL=https://www3-pre.gobiernodecanarias.org/educacion/cau_ce/cas/logout

CAUCE_WEBSERVICE=https://des-intraeduca.medusa.gobiernodecanarias.net/webservices/REST_CheckUsuarioAutorizado/api/ch$
CAUCE_BEARER=1x4XRIP6VWgiCDCakE6dnGy89ittoPi8
#CAUCE_WEBSERVICE=https://www3-pre.gobiernodecanarias.org/educacion/cau_ce/webservices/REST_CheckUsuarioAutorizado/a$
#CAUCE_BEARER=4CLCRxC5CFkgkyBF1NMWDN78oa89uHB3

# ubicacion ejecutables ffmpeg
FFMPEG_PATH="/usr/bin/ffmpeg"
FFPROBE_PATH="/usr/bin/ffprobe"

# LO USA NPM PARA GENERAR CSS 
LOCATION=/medusa/apps/lexican
