#app {
    .dc-btn-acciones{
        max-width: 62rem;
        margin: 0 auto;
    }

    .actionbutton {
        position: relative;
        // display: inline-block;
        width: 197px;
        min-height: 185px;
        border: 1px solid #BABABA;
        border-radius: 26px;
        margin: 0 auto;
        margin-bottom: 1rem;
        .icon {    
            height: 97px;
            display: block;
            margin: 0 auto;
            margin-top: 20px;
        }
        .text {
            // margin-top: 24px;
            padding: 24px 1rem 1rem 1rem;
            font-size: 14px;
            color: $gris6;
            text-decoration: none;
        }
    }


    .actionbutton .text,
    .dc-actionbutton-menu span,
    .dc-actionbutton-menu .dc-actionbutton-submenu-caption {

        display: block;
        text-align: center;
        font-weight: bold;
        text-transform: uppercase;
    }

    .dc-actionbutton-menu span {
        font-size: 12px;
    }

    .navbar-nav .dc-actionbutton-menu .dc-actionbutton-submenu-caption {
        text-align: inherit;
        font-weight: inherit;
        text-transform: none;
    }
    

    .actionbutton{
        --hoverbg: #3eb1ba;
        --hovercolor: white;
    }
    
    .actionbutton:hover,
    .actionbutton.selected
    {
        background-color: var(--hoverbg);
        color: var(--hovercolor);
        text-decoration: none;
        .text{
            color: var(--hovercolor);
        }
    }
    
    
    .dc-btn-acciones a:hover  {
        text-decoration: none;

    }
    .actionbutton {
        --colorfill: #3eb1ba;
    }
    
    .actionbutton:hover .icon,
    .actionbutton.selected .icon
    {
        filter: brightness(0) invert(1);
    }

    .dc-actionbutton-container{
        height: 13rem;
    }

    #btn-acciones-vertical {
        
        .actionbutton {
            width: 100%;
            max-width: 197px;
            // min-height: fit-content;
            .icon {
                height: 60%;
                width: 60%;
            }
            .text {
                padding: 1rem 0.5rem;
            }
        }
    }

    .dc-actionbutton-menu {
        z-index: 1;
        --hoverbg: #3eb1ba;
        --hovercolor: white;

        width: 445px;
        height: 189px;

        top: -80px;
        left: 150px;
        
        padding-top: 33px;        
        padding-left: 7px;
        padding-right: 15px;        

        // margenes javi
        margin: -329px 0px 0px 150px;
        span {
            padding-top: 10px;
            font-size: $font-size0;
            line-height: 0.9rem;
        }
        a.dc-actionbutton-menu-btn-enlace span {
            color: #0F4C81;
        }
        .dc-actionbutton-menu-btn {
            --hoverico: #4e8bc2;
            
            border-radius: 5px;
            text-decoration: none;
            padding: 10px;
        }

        // a.dc-actionbutton-menu-btn-enlace:hover span,
        a:hover .dc-actionbutton-menu-btn {            
            text-decoration: none;

            background-color: var(--hoverbg);
            color: var(--hovercolor);
            --hoverico: var(--hovercolor);
            span {
                text-decoration: none;
            }
        }
        a:hover {
            text-decoration: none !important;
        }
    }
    .dc-actionbutton-menu.left {
        left: -330px;
        
        padding-right: 7px;
        padding-left: 15px;
        @media only screen and (max-width: $mobile) {
            padding-left: 0;
            padding-right: 0;
        }

        // margenes javi los paso del style a aqui
        margin: -330px 0px 0px -333px;
    }  
    .dc-actionbutton-menu .dc-actionbutton-menu-btn-enlace{
        z-index: 10;
    }
    
    .dc-actionbutton-menu .dc-actionbutton-menu-bg {
        position: absolute;
        bottom: 140px;
        left: 165px;
        width: 445px;
        height: 189px;
        z-index: 10;
        background-repeat: no-repeat no-repeat;
        background-image: url($baseurl+'imagenes/bocadillo2.svg');
    }
    .dc-actionbutton-menu.left .dc-actionbutton-menu-bg {
        transform:scaleX(-1);
        // margenes javi
        margin: -0px 0px 0px -484px;
    }

    .btn-acciones-vertical  .dc-actionbutton-menu.left .dc-actionbutton-menu-bg {
        bottom: 147px;
    }


    .dc-actionbutton-menu .dc-actionbutton-menu-bg .vertical {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 149px;
        height: 438px;
        z-index: 10;
        background-repeat: no-repeat no-repeat;
        background-image: url($baseurl+'imagenes/bocadillo-vert.svg');
    }

    .dc-actionbutton-menu.dc-bocadillo {
        width: fit-content;
    }

    .actionbutton.disable {
        background: $gris1;
        color: black;
        border-color: $gris1;
        icon, span.text{
            opacity: 0.3;
        }

        &:hover,
        &.selected
        {
            background: $gris1;
            color: black;
            border-color: $gris1;
            text-decoration: none;
            .icon{
                filter: none;
            }
            .text{
                opacity: 0.3;
                color: #747474;                
            }
        }

        


    }
}

