.breadcrumb {
    // width: max-content; // en moviles rompe el diseno
    width: auto;
    margin: 0 auto;
    background-color: transparent;
    margin-bottom: 36px;
    display: flex;
}
.breadcrumb-item + .breadcrumb-item::before {
    // color: #6c757d; 
    content: '>';
}