.dc-round-btn,
.dpAcepcionAnadirBtn
{
    border: 0.5px solid $color1;
    border-radius: 31px;
    width: max-content;
    padding: 5px 5px 5px 15px;
    text-decoration: none;
    color: #747474;
    font-size: 18px;
    line-height: 22px;
    
    white-space: nowrap;
    // line-height: 2em;

    .dpAcepcionAnadirBtn-text{
        text-transform: uppercase;
        font-weight: bold;
    }    
}
.dc-round-btn{
    background-color: $gris1;
}
.dpAcepcionAnadirBtn {    
    margin: 1em 0;
    font-size: 15px;
    line-height: 18px;
    padding: 4px 4px 4px 14px;
    background-color: $gris1;

    div {
        top: 1px;
        position: relative;
        line-height: 10px;
    }
    .dpAcepcionAnadirImg {
        height: 25px;
    }
}
.dpAcepcionAnadirBtn:hover {
    text-decoration: none !important;
}
a:hover .dpAcepcionAnadirBtn  {
    color: #747474;
}
.dpAcepcionAnadirImg {
    height: 31px;
}


#tematicas_seleccionadas {
    height: 82%;
}
.dropify-clear{
    display: none !important;
}
.grab_audio, .grab_video, .grab_foto{
    border: 2px solid #E5E5E5;
    align-items: end;
    justify-content: center;
    background-repeat: no-repeat !important;
    background-position: center !important;
    background-size: cover !important;
}
.contenedorTextoGrabacion{
    display: flex;
    align-content: center;
    align-items: center;
    justify-content: center;
}
.text-grabacion{
    text-align: center !important;
    margin-top: 1em !important;
    color: #2fa360 !important;
}
#btnFoto, #btnAudio, #btnVideo{
    border: 0.5px solid $color1;
    border-radius: 31px;
    padding: 4px 40px 4px 40px;
    background-color: white;
    color: $gris6;
    display: flex;
}
#btnFoto > img, #btnAudio > img, #btnVideo > img{
    margin-left: 1rem;
    width: 25px;
}
#btnsContainer{
    display: grid !important;
    justify-items: center;
    grid-gap: 40px;
}
#botonesAccion{
    //border: 0.75px solid $color1;
    #btnBorrar, #btnBorrarFoto{
        background-size: 40px;
    }
}
#botonesAccion > button, #botonesModal > button{
    margin-right: 1em;
    margin-bottom: 1em;
}
// #botonesAccion > button{
//     border: 1px solid $color1;
// }
#borrarVideo, #borrarImg, #borrarAudio{
    width: auto !important;
    cursor: pointer;
}
#btnIniciar, #btnContinuar, #btnDetener, #btnReproducir, #btnBorrar, 
#btnTomarFoto, #btnBorrarFoto{
    background-repeat:no-repeat;
    height:60px;
    width:70px;
    background-size: 50px 50px;
    background-position:center;
}
#btnIniciar{
    background-image:url($baseurl+'imagenes/ico-micro.svg');
}
#btnContinuar{
    background-image:url($baseurl+'imagenes/ico-continuar-gris.svg');
}
#btnDetener{
    background-image:url($baseurl+'imagenes/ico-stop-gris.svg');
}
#btnReproducir{
    background-image:url($baseurl+'imagenes/ico-play-gris.svg');
}
#btnBorrar{
    background-image:url($baseurl+'imagenes/ico-trash-gris.svg');
}
#btnTomarFoto{
    background-image:url($baseurl+'imagenes/ico-camara.svg');
}
#btnBorrarFoto{
    background-image:url($baseurl+'imagenes/ico-trash-gris.svg');
}
.btnsForm{
    padding-top: 2em;
}
.btn:focus, .btn.focus{
    box-shadow: 0 0 0 0 !important;
}