#app {
    // font-size: 1.2rem;
    img#escudo { 
        position: relative;
        height: 2.6rem;
        margin: 0.2rem;
        margin-right: 0.45rem;
        bottom: 0.2rem;
    }
    #escudoMb {
        height: 2.3rem;
    }
    h1 {
        margin-left: 3.5rem;
        font-size: 1.3rem;
        font-family: Arial;
        font-weight: bold;
        line-height: 2rem;
        margin-bottom: 0;
        span {
            color: $color2;
        }
    }

    h1.logo {
        font-size: 1.7rem;
        bottom: 0.3rem;
        position: relative;
        span{
            font-weight: bolder;
        }
    }

    .d-md-none > h1 {
        margin-left: 0;
        font-size: 1rem;
    }
    .navbar-nav .material-icons {
        font-size: $nav-font-size;
        position: relative;
        top: 0.2rem;
    }

    #header-line {
        width: 100%;
        background: $color1;
        height: 26px;
    }
    #header-line-content{
        line-height: 16.8px;
        color: #fff;
        top: 2px;
        position: relative;
    }   
    // avatar en la esquina superior derecha
    .dc-avatar {
        text-align: left;
        display: inline-block;
        width: 2.8rem;
        // margin-left: 1rem;
        margin-left: 2.5rem;
        position: relative;
        height: 17px;
        z-index: 10;

        img {
            background-color: $color1;
            position: absolute;
            top: 0;
            left: 0;
            width: 38px;
            height: 38px;
            border: 2px solid $color1;
            border-radius: 50%;
        }
    }
    .navbar-toggler.submenu{
        padding: 0;
        border: 0;
        font-size: initial;
        border-radius: 0;
    }
    @media only screen and (min-width: $tablet) {

        .navbar-collapse .submenu{
            display: none !important;
        }
    }

    .navbar-collapse.submenu{
        a{
            color: rgba(255, 255, 255, 0.5);
        }
        & > div{
            padding: 0.5rem 0 0 0.75rem;
        }
        &>.select-dic{
            padding-top: 0;
            
            div{
                padding: 0.5rem 0 0 0.75rem;
            }

            & > div{
                padding-top: 0;
            }

            color: rgba(255, 255, 255, 0.5);
            img{
                width: 35px;
            }     
            svg{
                width: 30px;
                height: 30px;
            }       
            a{
                padding: 0;
            }
            .submenu-unirse{
                flex-direction: row !important;
                padding-left: 0.15rem;
                &>div:first-child{
                    flex: 0 0 16.6666666667%;
                    max-width: 16.6666666667%;
                }   
                &>div:nth-child(even){
                    flex: 0 0 83.3333333333%;
                    max-width: 83.3333333333%;
                }             
            }
        }
    }
}