  .dc-input-group {
    --alto: 40px;
  }
  .input {
    border-radius: 0;
    background-color: $gris1;
  }

  .dc-input-group input {
    height: var(--alto);
    // font-size: $font-size2;
    font-size: $font-size0;    
    &[type=checkbox], &[type=radio]{
      height: unset;
    }
  }
  
  .dc-input-group button {
    margin:0;
    border:0;
  }
  .dc-input-group button img{
      position: absolute;
      top: 0;
      height: var(--alto);
      width: var(--alto);
  }
  .dc-input-group .input-group-append {
    width: var(--alto);
    margin-left: -1rem;
  }

  label {
    color: $gris6;
  }
  select {
    /* for Firefox */
    -moz-appearance: none;
    /* for Chrome */
    -webkit-appearance: none;
  }  
  /* For IE10 */
  select::-ms-expand {
    display: none;
  }

  .dc-input-group .dc-select-grp,
  .dc-select-grp {
    background-color: #fff;
    position: relative;

    float:left;
    --alto: 26px;
    width: 100%;
    select {
      position:relative;
      border:1px solid #eee;
      background:none;
      height: var(--alto);
      z-index:2;
      width: 100%;
      margin-left: 0;
    }
    img {
      display: block;
      position: absolute;
      height: var(--alto);
      top:0;
      right: 2px;
      z-index:1;
      
    }
  }

  .dc-input-group .dc-select-grp.disabled,
  .dc-select-grp.disabled {
    background-color: #e0e0e0;
    select {
      border:1px solid #e0e0e0
    }
  }

select {
  font-style: italic;
}
select[multiple] {
  font-style: normal;
}
// Select en cursiva cuando no tienen nada selecionado
// Solo funciona cuando estan el campo como "reequired"
// select > option {
//   color: black;
//   font-style: initial;
// }

// select option[value=""] {
//   font-style: italic;
// }

// select[required]:invalid {
//   font-style: italic;
// }
