
$btnOkColor: #006FB5;

.btn-ok {
    @include button-variant($btnOkColor, darken($btnOkColor, 7.5%), darken($btnOkColor, 10%), lighten($btnOkColor,5%), lighten($btnOkColor, 10%), darken($btnOkColor,30%));
}

.btn-outline-ok {
    @include button-outline-variant($btnOkColor, #222222, lighten($btnOkColor,5%), $btnOkColor);
}
// NO cambiar por .dc-modal-* se estan modificando estilos de bootstrap

.dc-panel-gris, .modal-content {
    color: $gris6;
    background-color: $gris2;
    // border-radius: 13px;

    input, select {
        border-radius: 2px;
        height: 26px;
    }
    select {
        padding: 0 0.75rem;
    }
    .dc-input-group {
        --alto: 26px;
    }
    a.icon:hover {
        text-decoration: none;
    }
}

.modal-header {
    height: 35px;
    background-color: $color1;
    border: $color1;
    padding: 0rem 1rem;
    padding-top: 0.25rem;

    @media only screen and (max-width: $mobile) {
        height: fit-content;
    }
    // border-top-left-radius: calc(0.3rem - 1px);
    // border-top-right-radius: calc(0.3rem - 1px);
}
.modal-title {
    font-weight: bold;
    height: 17px;
    line-height: 100%;
    padding-top: 5px;
    margin-top: 0;
    color: $gris1;
    text-transform: uppercase;
    @media only screen and (max-width: $mobile) {
        height: fit-content;
        white-space: pre-line;
    }
} 
.modal-body{
    padding: 25px 50px;
    @media only screen and (max-width: $mobile) {
        padding:0;
    }
    padding-bottom: 0;
    background-color: $gris2;
    // max-height: 75vh;
    overflow: auto;
    form {
        width: 90%;
        margin: 0 auto;
        .form-group ul{
            padding: 0;
        }
    }
}
.modal-footer{
    border-top: none;
    justify-content: center;
    background-color: $gris2;
    padding-bottom: 25px;
    // border-bottom-right-radius: calc(0.3rem - 1px);
    // border-bottom-left-radius: calc(0.3rem - 1px);
    .btn {
        border-radius: 1px;
        padding: 0.1rem 0.75rem;
        min-width: 125px;
        height: 37px;
    }
}

.modal-header .close {
    color: $gris1;
    @media only screen and (max-width: $mobile) {
        padding: 0;
        margin: 0;
    }
}

// mismo estilo que en los modales a los botones del resto app
.btn {
    border-radius: 1px;
    padding: 0.1rem 0.75rem;
    min-width: 125px;
    height: 37px;
    line-height: 32px;
}