
// Ahora $baseurl esta definido en webpack.mix.js y se agrega a .css
$baseurl: $envbaseurl;

// Body
// $body-bg: #f8fafc;
$body-bg: #fff;

// Typography
$font-family-sans-serif: 'Carlito', Calibri, sans-serif;
// $font-size-base: 0.9rem;
$font-size-base: 16;
$line-height-base: 1.6;
// font-sizes
$nav-font-size: 2rem;

// $font-size0: 14px;
// $font-size1: 16px;
// $font-size2: 19px;
// $font-size3: 21px;
// $font-size4: 25px;
// Equivalentes de px en rem:
$font-size0: 0.95rem;
$font-size1: 1rem;
$font-size2: 1.19rem;
$font-size3: 1.31rem;
$font-size4: 1.56rem;




// Colors
$blue: #3490dc;
$indigo: #6574cd;
$purple: #9561e2;
$pink: #f66d9b;
$red: #e3342f;
$orange: #f6993f;
$yellow: #ffed4a;
$green: #38c172;
$teal: #4dc0b5;
$cyan: #6cb2eb;

$primary: #003A83;

$theme-colors: (
  primary: #0F4C81
);

// paleta de XD
// $color2: #90cdbe;
// $color1: #4cbcc6;
$color1: #3EB1BA;
$color2: #b2ffe3;
$color3: #4cbcc6;
$color4: #004994;
$color5: #E94E1B;
$color6: #E6332A;


$gris6: #747474;
$gris5: #878787;
$gris4: #BABABA;
$gris3: #c6c6c6;
$gris2-5: #dadada;
$gris2: #f4f4f4;
$gris1: #fafafa;

// Tamaños de as pantallas
$mobile: 575.98px;
$tablet: 720px;
$desktop: 1280px;

// variables css para sitios donde no pueda usar sass
:root{
  --color1: #3EB1BA;
  --color2: #b2ffe3;
  --color3: #4cbcc6;
  --color4: #004994;
  --color5: #E94E1B;
  --color6: #E6332A;
  --gris6: #747474;
  --gris5: #878787;
  --gris4: #BABABA;
  --gris3: #c6c6c6;
  --gris2-5: #dadada;
  --gris2: #f4f4f4;
  --gris1: #fafafa;
}
