.toggleDiv:checked ~ div { 
    display: none; 
}

.toggleDiv {
    display: none;
}
.form-span{
    display: block;
}
label{
    font-weight: bold;
    display: inline;
}

.diccionario-aula-info{
    margin: 0.5rem 0rem 1.5rem 0;
}

.panel-buscador{
    background-color: #ececec;
    border: 1px solid;
    border-color: #b1b1b1;
    padding: 10px;
}

.buscador-avatares-row{
    display: inline-block;
    white-space: nowrap;
    height: 46px;
    overflow-x: auto;
    width: 100%;
}

.buscador-avatares-avatar{
    width: 80px;
    display: inline-block;
}

.swiper-container {
    width: 100%;
    height: 210px;
    margin: 20px;
    margin-bottom: 0;
}

.swiper-slide {
    text-align: center;
    font-size: 18px;

    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}

.swiper-slide img{
    width: 100%;
    min-width: 6.5rem;
}

.swiper-slide .nombre-y-apellidos{
    bottom: 0;
    position: absolute;
    margin-bottom: 1.5rem;
}

.botones-diccionario-aula > a {
    height: 1.9rem !important;
    width: 1.9rem !important;
  }